---
title: ADCIRC.io
layout: splash
author_profile: false
header:
    overlay_color: #000
    overlay_image: header.png
    overlay_filter: 0.3
    cta_label: "Start Using ADCIRC.io"
    cta_url: "http://adcirc.io"
excerpt: "ADCIRC.io is a powerful web-based application for interacting with and exploring ADCIRC data. It is delivered entirely through your browser, so there's nothing to install. It just works."

adcircusers:
    - image_path: splash1.png
      alt: "Cool ADCIRC Image #1"
      title: "For Users"
      excerpt: 'ADCIRC.io allows ADCIRC users to visually explore and interact with their ADCIRC data. Validate your meshes by seamlessly visualizing and interacting with them in 2D or 3D. Explore maxes, mins, and full timeseries of your ADCIRC runs for individual nodes, or for the mesh as a whole. ADCIRC.io is the tool you need to get at the data you want, all from within the browser.'
      url: "/about/"
      btn_label: "Get Started"
      btn_class: "btn--inverse"

adcircdevelopers:
    - image_path: splash2.png
      alt: "Cool ADCIRC Image #1"
      title: "For Developers"
      excerpt: 'ADCIRC.io is open source and therefore relies on the community for development. The app itself is written almost entirely in Javascript, and makes use of many open source libraries such as [three.js](http://threejs.org/) and [Bootstrap](http://getbootstrap.com/). We welcome and encourage ADCIRC developers and users to make contributions by adding features, fixing or reporting bugs, or suggesting features that they need.'
      url: "/about/"
      btn_label: "How to Contribute"
      btn_class: "btn--inverse"
---

{% include base_path %}

{% include feature_row id="adcircusers" type="left" %}
{% include feature_row id="adcircdevelopers" type="right" %}


<h1 class="archive__title">Recent Blog Posts</h1>
{% for post in paginator.posts %}
    {% include archive-single-custom.html %}
{% endfor %}



{% include paginator.html %}